audio {
  display: none;
}
img {
  height: 200px;
}
button {
  margin-left: 5%;
  margin-top: 3%;
}

.centreee{
  margin-right: 10%;
  margin-left: 10%;

}
.titreee{
  font-weight: bold;
  font-size: x-large;
}
.nombreee{
  font-weight: bold;
}
.centreee{
  text-align: center;

}

mat-icon.play-button {
  margin-left: 3%;
}

mat-icon:hover {
  cursor: pointer;
}


.pokemon-card{
  height: 500px;
  width: 700px;
  margin: auto;
}

.pokemon-image{
  min-height: 190px;
  min-width: 190px;
  margin: 10px;
}
